.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.logo-font {
  color: #0f0;
  font-family: "Fasthand";
}

.logo-font-highlight {
  color: #f00;
  letter-spacing: 0;
  position: relative;
  left: 5px;
}

.tag-name {
  color: #0f0;
  font-family: "Fasthand";
}
