.header-container {
  background-color: #fff6;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-font {
  color: #0f0;
  font-size: 50px;
  line-height: 50px;
  font-family: "Fasthand";
  margin: 0;
  padding: 0;
}

.logo-font-highlight {
  color: #f00;
  font-size: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0;
}

.tag-name {
  font-size: 50px;
  color: #ff0;
  line-height: 50px;
  font-family: "Fasthand";
}
