.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7de5ed;
  color: #e80f88;
}
.service-nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-nav-item {
  margin: 10px;
  padding: 10px;
  border: none;
  background: none;
  position: relative;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 10%;
  background-color: #e80f88;
  color: #000;
  font-weight: bold;
}
